* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    background: #222;
    overflow: visible;
}

.card {
    width: 100%;
    max-width: 650px;
    background: linear-gradient(135deg, #00feba, #5b548a);
    color: #fff;
    margin: 50px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    overflow: hidden;
}

/* Select Lokasi */
.search {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search select {
    display: inline-block;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: inherit;
    height: 50px;
    border-radius: 15px;
    flex: 1;
    margin-right: 10px;
    font-size: 1rem;
    cursor: pointer;
}

.search button {
    display: inline-block;
    border: 0;
    outline: 0;
    background-color: #5b548a;
    border-radius: 15px;
    width: 60px;
    height: 50px;
}

.search button img {
    width: 16px;
}

.search button:hover {
    cursor: pointer;
    background-color: rgba(230, 224, 218, 0.8)
}

/* status siaga */
.status-siaga {
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    padding: 30px;
    margin-top: 30px;
    border-radius: 15px;
}

.status-siaga img {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 70px;
}

.status-siaga h1 {
    font-size: 25px;
    font-weight: 800;
}

.status {
    font-size: 30px;
    font-weight: 800;
}

.tinggi-air {
    font-size: 40px;
    font-weight: 500;
}

/* calendar */
.chart {
    box-shadow: 2px 3px 7px 0px rgba(0,0,0,0.35);
    padding: 30px;
    margin-top: 30px;
    border-radius: 15px;
}

.chart h1 {
    font-size: 25px;
    font-weight: 800;
    text-align: left;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.calendar-kiri {
    flex: 1;
    display: inline-block;
}

.calendar-kanan {
    flex: 1;
    display: inline-block;
}

.calendar input {
    border: 0;
    outline: 0;
    padding: 2px 24px;
    border-radius: 10px;
    height: 40px;
}

.calendar h2 {
    margin-top: 20px;
    text-align: left;
}

.calendar button {
    height: 30px;
    width: 100%;
    border-radius: 15px;
    border: 0;
    outline: 0;
    margin-top: 30px;
    background-color: #5b548a;
}

#search-button-calendar img {
    width: 16px;
}

#search-button-calendar:hover {
    cursor: pointer;
    background-color: rgba(230, 224, 218, 0.8)
}

/* chart */
#myChart {
    margin-top: 30px;
    background-color: #ebfffc;
    border-radius: 15px; 
}